<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<div class="JavaScriptDropdown">
			<div class="btn-group">
				<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#menu">☰ Navigation Menu</button>
				<div id="menu" class="collapse">
					<br><br>
					<a href="{% url 'home' %}">🤖 AppBuilder9000</a>
					<a href="{% url 'collection' %}"> <img src="./static/images/comics/comicbook_icon.png" alt="A red and blue icon of a comic book" style="margin: 0 2px 0 6px;"> Comic book collection</a>
				</div>
			</div>
		</div>
